<header class="page-header">
  <h1>About Us</h1>
</header>

<section class="about">
  <p>Welcome to Jungle, your premier destination for all things green and beautiful!</p>
  <p>At Jungle, we believe in bringing the lush beauty of nature into your home, effortlessly enhancing your living space with the vibrant energy of plants and flowers. With our wide array of botanical wonders, we aim to make the process of plant parenthood both accessible and enjoyable for everyone.</p>

  <h3>Our Commitment to Quality:</h3>
  <p>Here at Jungle, quality is paramount. We meticulously select each plant and flower, sourcing them only from trusted growers and nurseries known for their exceptional standards. This ensures that every purchase you make from us is not just a beautiful addition to your home, but a thriving, healthy life to nurture and enjoy.</p>

  <h3>Convenience at Your Fingertips:</h3>
  <p>Shopping for plants has never been easier! With our intuitive online platform, you can browse our extensive collection from the comfort of your home, any time of day. Ordering is a breeze, and with our streamlined checkout process, your new leafy companions will be on their way to you in no time.</p>

  <h3>Unbeatable Value:</h3>
  <p>At Jungle, we believe that everyone deserves to experience the joy of plant ownership without breaking the bank. That's why we offer competitive prices without compromising on quality. Plus, enjoy free shipping on all orders over $50, making it even more affordable to cultivate your own personal oasis.</p>

  <h3>Explore Our Jungle:</h3>
  <p>Whether you're a seasoned plant enthusiast or just starting your green journey, Jungle has something for you. From petite succulents to majestic ferns, and everything in between, our diverse selection ensures that there's a perfect plant waiting for every space and style.</p>

  <p>Join us at Jungle, where the beauty of nature meets the convenience of online shopping. <%= link_to 'Start browsing', root_path %> today and let the green transformation begin!
  </p>
</section>